tr
  td.image= image_tag person.image_url(:thumb)
  td
    = link_to person.full_name, person
    - if person.company.present?
      .person_company
        = t(".company")
        = link_to person.company.name, company_path(person.company)
  td.text-right
    = link_to person.emails.first.email, "mailto:#{person.emails.first.email}" if person.emails.present?
    br
    = person.phones.first.phone if person.phones.present?
  td.text-right
    = link_to edit_person_path(person)
      i.fa.fa-edit
    '
    = link_to person_path(person), method: :delete
      i.fa.fa-trash
