tr
  td.type
    = image_tag "types/task/#{task.task_type.name}.png", alt: t("types.task.#{task.task_type.name}")
  td(class="task #{'active' if task.deadline_date > Time.now.to_date}")
    .title
      = task.name
    /.description
    /  = task.description.html_safe
    .date
      = task.deadline_date.to_s
  td.text-right(width='25%')
    - unless task.taskable.nil?
      = link_to task.taskable.name, polymorphic_path(task.taskable)
