.row
  .col-sm-12
    h1= t('.search_results')
- unless @companies.count + @people.count == 0
  .row
    .col-lg-12
      .animated.fadeInUp
        .ibox.contacts
          .ibox-title
            h2= t('.contacts')
          .ibox-content
            table.table.table-condensed.table-striped
              = render partial: 'company', collection: @companies
              = render partial: 'person', collection: @people
            - if @contacts_count > 10
              .more
                = link_to "#{t('.more')} #{(@contacts_count - 10).to_s}", contacts_path(by_name: params[:search])

- unless @tasks.count == 0
  .row
    .col-lg-12
      .animated.fadeInUp
        .ibox.tasks
          .ibox-title
            h2= t('.tasks')
          .ibox-content
            table.table.table-condensed.table-striped
              = render partial: 'task', collection: @tasks
            - if @tasks_count > 10
              .more
                = link_to "#{t('.more')} #{(@tasks_count - 10).to_s}", tasks_path(by_name: params[:search])

- unless @deals.count == 0
  .row
    .col-lg-12
      .animated.fadeInUp
        .ibox.deals
          .ibox-title
            h2= t('.deals')
          .ibox-content
            table.table.table-condensed
              = render @deals
            - if @deals_count > 10
              .more
                = link_to "#{t('.more')} #{(@deals_count - 10).to_s}", deals_path(by_name: params[:search])
  
- unless @events.count == 0
  .row
    .col-lg-12
      .animated.fadeInUp
        .ibox.events
          .ibox-title
            h2= t('.events')
          .ibox-content
            table.table.table-condensed.table-striped
              = render @events
            - if @events_count > 10
              .more
                = link_to "#{t('.more')} #{(@events_count - 10).to_s}", events_path(by_name: params[:search])
