= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    .col-sm-6
      = f.input :name, input_html: { class: 'form-control' }
    .col-sm-6
      = f.association :task_type, label_method: lambda { |type| t("types.task.#{type.name}") }, include_blank: false, input_html: { class: 'form-control' }
      - pre = [@task.taskable].to_json(methods: [:id_with_class_name, :name], only: [])
  .form-group
    .col-sm-12
      = f.input :description, class: 'ckeditor', input_html: { toolbar: 'Basic', class: 'form-control' }
  .form-group
    .col-sm-4
      = f.input :contact, input_html: { 'data-pre' => pre, class: 'form-control' }
    .col-sm-4
      = f.input :deadline_date, :wrapper_html => {class: "input-prepend input-append"} do
        = f.input_field :deadline_date, as: :string, input_html: { class: 'form-control date_picker' }
    .col-sm-4
      = f.association :user, label_method: :email, value_method: :id, include_blank: false, input_html: { class: 'form-control' }
  = f.association :deal, as: :hidden
  = f.association :event, as: :hidden
  .hr-line-dashed
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn'
