.image-icon {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 3px;
}
.pointer {
    cursor: pointer !important;
}

.navbar-form-custom .form-control {
    width: 250px;
}

.project-people {
    text-align: right;
}

.project-people a {
    font-size: .9em;
    font-weight: normal;
}
.project-people img {
    float: left;
}

.project-actions {
    width: 250px;
}

.project-budget {
    font-weight: normal;
    font-size: 2em;
}