= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  .form-group
    .col-sm-6
      = f.input :name, input_html: { class: 'form-control' }
    .col-sm-6
      = f.input :email, input_html: { class: 'form-control' }
  .form-group
    .col-sm-6
      = f.input :gender, as: :select, collection: [t('gender.male'), t('gender.female')], include_blank: true, input_html: { class: 'form-control' }
    .col-sm-6
      = f.input :birthday, :wrapper_html => {class: "input-prepend input-append"} do
        = f.input_field :birthday, as: :string, input_html: { class: 'form-control date_picker' }
  / TODO: simple_form with datepicker
  / http://stackoverflow.com/questions/5007785/how-do-i-write-a-cleaner-date-picker-input-for-simpleform
  .form-group
    .col-sm-12
      = f.input :comment, class: 'ckeditor', input_html: { toolbar: 'Basic', class: 'form-control' }
    
  = f.simple_fields_for :user_contacts do |user_contacts_form|
    = render 'user_contact_fields', f: user_contacts_form

  = link_to_add_fields t('application.user_contact_fields.add_user_contact'), f, :user_contacts

  .hr-line-dashed
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), profile_path, class: 'btn'
