.row.wrapper.page-heading
  .col-xs-12
    h1 = t('.profile')
.row.wrapper.white-bg.animated.fadeIn
  .col-xs-12
    .ibox.float-e-margins
      .ibox-title
      .ibox-content
         .panel.blank-panel
          .panel-heading
            .panel-title.m-b-md
            .panel-options
              ul.nav.nav-tabs.tabs_header
                li.active
                  a data-toggle="tab" href="#profile"  = t('users.tabs_header.profile')
                li
                  a data-toggle="tab" href="#activity"  = t('users.tabs_header.activity')
          .panel-body
            .tab-content
              = render 'profile_tab'
              = render 'activity_tab'
              /TODO: Profile resent actions is empty