h1= t('import.title')
h2
  =t('import.step')
  '&nbsp;1

= form_tag step(2), multipart: true, class: 'form-horizontal' do
  .control-group
    = label_tag :file, t('import.file_to_upload'), class: 'control-label'
    .controls
      = file_field_tag :file
  .control-group
    = label_tag :encoding, t('import.select_encoding'), class: 'control-label'
    .controls
      = select_tag :encoding, options_for_select([[t("import.encoding.win1251"), 'windows-1251'], [t("import.encoding.utf-8"), 'utf-8']], params[:encoding])
  .control-group
    = label_tag :col_sep, t('import.select_col_sep'), class: 'control-label'
    .controls
      = select_tag :col_sep, options_for_select([[t("import.col_sep.semicolon"), 'semicolon'], [t("import.col_sep.comma"), 'comma'], [t("import.col_sep.tab"), 'tab']], params[:col_sep])
  div
    = submit_tag t('import.next'), class: "btn"
