tr.history
  td.type
    = image_tag "types/history/#{history.history_type.name}.png", alt: t("types.history.#{history.history_type.name}")
  td
    .description
      = history.description.html_safe
    .info
      = history.date
      = t(".author")
      = history.user.email
