= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    .col-sm-12
      = f.input :name, input_html: { class: 'form-control' }
  .hr-line-dashed
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn'
