.row
  .col-sm-12
    h2= t(".events")
.row
  .col-lg-12
    .animated.fadeInUp
      .ibox.events
        .ibox-title
          .row
            .col-xs-4
              = render 'filter_form'
            .col-xs-8
              .buttons-panel.pull-right
                = link_to t(".new_event"), new_event_path, class: "add"
                = link_to t("import.title"), events_import_step_1_path, class: "import"
                = link_to t('.export'), events_path(format: 'xls'), class: "export"
        .ibox-content
          table.table.table-condensed.table-striped
            = render @events
