h2= @event.name
.buttons-panel
  = link_to t(".edit_event"), edit_event_path(@event), class: "edit"
  = link_to_change_status @event

table.table-condensed
  tr
    td
      = t(".status")
    td
      - if @event.opened?
        = t(".opened")
      - else
        = t(".closed")
    
.tabbable
  = render 'tabs_header', object: @event
  .tab-content
    = render 'histories_tab', object: @event
    = render 'tasks_tab', object: @event
    = render 'participants_tab', object: @event
    
