.row
  .col-sm-12
    h2= t(".all_contacts")
.row
  .col-lg-12
    .animated.fadeInUp
      .ibox.contacts
        .ibox-title
          .row
            .col-xs-4
              = render 'filter_form'
            .col-xs-8
              .buttons-panel.pull-right
                = link_to t('.add_company'), new_company_path, class: "add"
                = link_to t('.add_person'), new_person_path, class: "add"
                = link_to t("import.title"), contacts_import_step_1_path, class: "import"
                = link_to t('.export'), contacts_path(format: 'xls'), class: "export"
        .ibox-content
          table.table.table-condensed.table-striped
            = render @contacts
          .text-center
            = will_paginate @contacts, renderer: BootstrapPagination::Rails
