tr
  td.image= image_tag company.image_url(:thumb)
  td= link_to company.name, company
  td.text-right
    = link_to company.emails.first.email, "mailto:#{company.emails.first.email}" if company.emails.present?
    br
    = company.phones.first.phone if company.phones.present?
  td.text-right
    = link_to edit_company_path(company)
      i.fa.fa-edit
    '
    = link_to company_path(company), method: :delete
      i.fa.fa-trash
