= simple_form_for @company do |f|
  .form-group
    .col-sm-6
      = f.input :name, input_html: { class: 'form-control' }
    .col-sm-6
      = f.association :contact_type, label_method: lambda { |type| t("types.contact.#{type.name}") }, input_html: { class: 'form-control' }

  .form-group
    .col-sm-12
      = f.input :description, class: 'ckeditor', input_html: { toolbar: 'Basic', class: 'form-control' }

  .ibox.float-e-margins
    .ibox-title
    .ibox-content
      h2= t('.general_info')
      p
        | Контактаная информация о компании.
      .form-group
        h3= t('.email')
        = f.fields_for :emails do |email_form|
          = render 'email_fields', f: email_form
        = link_to_add_fields t('application.email_fields.add_email'), f, :emails
        br
        br

        h3= t('.phone')
        = f.fields_for :phones do |phone_form|
          = render 'phone_fields', f: phone_form
        = link_to_add_fields t('application.phone_fields.add_phone'), f, :phones
        br
        br

        h3= t('.address')
        = f.fields_for :addresses do |address_form|
          = render 'address_fields', f: address_form
        = link_to_add_fields t('application.address_fields.add_address'), f, :addresses
        br
        br

  .hr-line-dashed
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn'
