.row.wrapper.page-heading
  .col-xs-12
    h1 = t('.new_company')
.row.wrapper.white-bg.animated.fadeIn
  .col-xs-12
    .ibox.float-e-margins
      .ibox-title
      .ibox-content
        = render 'form'
