- if object.stage == Stage.find_by_success_probability(100)
  span.label.label-primary
    = t(".success")
- else
  - if object.closing_date < Time.now.to_date
    span.label.label-danger
      = t(".expired")
    br
    small
      = t(".since")
      '
      = object.closing_date
