tr.deal.hidden-xs
  td
    = render 'deals/badge', object: deal
  td
    .name
      = link_to deal.name, deal
  td(width='20%')
    .contact
      - unless deal.dealable.nil?
        = link_to deal.dealable.name, polymorphic_path(deal.dealable)
      - else
        = t(".client_not_set")

    = deal.responsible.name || deal.responsible.email
  td.text-right(width='20%')
    - if deal.budget.present?
      = number_to_currency(deal.budget, unit: currency_to_symbol(deal.currency.abbreviation))
  td.text-right(width='10%')
    .buttons-panel
      = link_to t(".edit_deal"), edit_deal_path(deal), class: "edit"
tr.deal.visible-xs
  td
    h3.name
      = link_to deal.name, deal
    br
    .contact
      - unless deal.dealable.nil?
        = link_to deal.dealable.name, polymorphic_path(deal.dealable)
      - else
        = t(".client_not_set")
  td.text-right(width='40%')
    - if deal.budget.present?
      = number_to_currency(deal.budget, unit: currency_to_symbol(deal.currency.abbreviation))
    br
    = render 'deals/badge', object: deal
    br
    = deal.responsible.name || deal.responsible.email
    br
    .buttons-panel
      = link_to t(".edit_deal"), edit_deal_path(deal), class: "edit"