= simple_form_for @deal, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    .col-sm-6
      = f.input :name, input_html: { class: 'form-control' }
    .col-sm-6
      - pre = [@deal.dealable].to_json(methods: [:id_with_class_name, :name], only: [])
      = f.input :contact, input_html: { 'data-pre' => pre }
  .form-group
    .col-sm-6
      = f.association :user, label_method: :email, value_method: :id, include_blank: false, input_html: { class: 'form-control' }
    .col-sm-6
      = f.input :closing_date, :wrapper_html => {class: "input-prepend input-append"} do
        = f.input_field :closing_date, as: :string, input_html: { class: 'form-control date_picker' }
  .form-group
    .col-sm-12
      = f.input :description, class: 'ckeditor', input_html: { toolbar: 'Basic' , class: 'form-control' }
  .form-group
    .cal-sm-6
      = f.association :currency, include_blank: false, input_html: { class: 'form-control' }
  .form-group
    .col-sm-6
      = f.input :budget, input_html: { class: 'form-control' }
    .col-sm-6
      = f.association :budget_type, label_method: lambda { |type| t("types.budget.#{type.name}") }, include_blank: false, input_html: { class: 'form-control' }
  .form-group
    .col-sm-6
      = f.association :stage, label_method: lambda { |type| t("stages.#{type.name}") }, include_blank: false, input_html: { class: 'form-control' }
    .col-sm-6
      = f.input :success_probability, input_html: { class: 'form-control' }
  .hr-line-dashed
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), deals_path, :class => 'btn'
