ul.nav.nav-tabs
  li.active
    a(href="#histories" data-toggle="tab") = t(".histories")
  li
    a(href="#tasks" data-toggle="tab") = t(".tasks")
  li
    a(href="#participants" data-toggle="tab")
    a(href="#participants" data-toggle="tab")
      = t(".participants")
      = "(#{object.companies.count + object.people.count})"
