.row
  .col-sm-12
    h2= t(".deals")
.row
  .col-lg-12
    .animated.fadeInUp
      .ibox.deals
        .ibox-title
          .row
            .col-xs-4
              = render 'filter_form'
            .col-xs-8
              .buttons-panel.pull-right
                = link_to t(".new_deal"), new_deal_path, class: "add"
                = link_to t("import.title"), deals_import_step_1_path, class: "import"
                = link_to t('.export'), deals_path(format: 'xls'), class: "export"
        .ibox-content
          table.table.table-condensed
            = render @deals
