h2= t('.title')

.container
  .row
    .span6
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.button :submit, t('.sign_in')
      p
        b Администартор
        p Логин: admin@example.com
        p Пароль: password
      p
        b Пользователь
        p Логин: demo@example.com
        p Пароль: password
    .span6
      = t('.sign_in_with')
      div
        br
        = link_to user_omniauth_authorize_path(:twitter) do
          = image_tag "twitter.png", :alt => "Twitter"
          = t('social.twitter')
        /%br
        /%br
        /= link_to user_omniauth_authorize_path(:facebook) do
        /  = image_tag "facebook.png", :alt => "Facebook"
        /  = t('social.facebook')
        /%br
        /%br
        /%a{href: "/auth/google_oauth2"}
        /  = image_tag "google_oauth2.png", :alt => "Google+"
        /  = t('social.google')
        br
        br
        = link_to user_omniauth_authorize_path(:vkontakte) do
          = image_tag "vkontakte.png", :alt => "Vkontakte"
          = t('social.vk')
