<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>{{ 'COMPANIES' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="start.html">CRM</a>
      </li>
      <li>
        {{ 'CONTACTS' | translate }}
      </li>
      <li class="active">
        <strong>{{ 'COMPANIES' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ContactsCtrl">
  <div class="row">
    <div class="col-lg-4" ng-repeat="company in companies">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-responsive"
                   ng-src="/assets/fallback/company/default.png">

              <span ng-switch="company.contact_type.name">
                <button ng-switch-when="hot" type="button" class="m-t-xs btn btn-danger btn-xs">Горячий</button>
                <button ng-switch-when="warm" type="button" class="m-t-xs btn btn-warning btn-xs">Теплый</button>
                <button ng-switch-when="cold" type="button" class="m-t-xs btn btn-info btn-xs">Холодный</button>
              </span>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>{{company.name}}</strong></h3>
            <p ng-if="company.people.length">
              <span ng-switch="company.people[0].id < 7">
                <img ng-switch-default alt="{{company.people[0].full_name}}" class="image-icon"
                     ng-src="/assets/{{company.people[0].image.thumb.url}}">
                <img ng-switch-when="true" alt="{{company.people[0].full_name}}" class="img-circle image-icon"
                   ng-src="/img/a{{ company.people[0].id }}.jpg">
              </span>
              {{company.people[0].full_name}}</p>
            <div class="clearfix"></div>
            <p ng-if="company.description" ng-model="more" ng-init="more=100" ng-click="more==100 ? more=1000 : more=100" class="space-15">
              {{company.description | htmlToPlaintext | limitTo:more }}<span ng-if="more==100" >...</span>
              <abbr ng-if="more==100" title="Развернуть описание" class="pointer">далее</abbr>
              <abbr ng-if="more==1000" title="Свернуть описание"  class="pointer">свернуть</abbr>
            </p>
            <p>
              <address>
                <span ng-if="company.addresses.length">
                  <i class="fa fa-map-marker"></i> {{company.addresses[0].address}}
                </span><br>
                <!--San Francisco, CA 94107<br>-->
                <abbr ng-if="company.phones.length" title="Телефон">Тел.:</abbr> {{company.phones[0].phone}}
              </address>
            </p>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
  </div>
</div>