<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>{{ 'PERSONS' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">CRM</a>
      </li>
      <li>
        {{ 'CONTACTS' | translate }}
      </li>
      <li class="active">
        <strong>{{ 'PERSONS' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ContactsCtrl">
  <div class="row">
    <div class="col-lg-4" ng-repeat="person in persons">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive"
                   ng-src="/img/a{{ person.photo_id }}.jpg">

              <div class="m-t-xs font-bold">{{person.job}}</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>{{person.full_name}}</strong></h3>

            <p ng-if="person.description"><i class="fa fa-map-marker"></i> {{person.description}}</p>
            <address>
              <strong>{{person.company_name}}</strong><br>
              {{companies[$index].addresses[0].address}}<br>
              <!--San Francisco, CA 94107<br>-->
              <abbr ng-if="companies[$index].phones.length" title="Phone">Тел.:</abbr> {{companies[$index].phones[0].phone}}
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
  </div>
</div>