<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{ 'DEALS' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">CRM</a>
            </li>
            <li class="active">
                <strong>{{ 'DEALS' | translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-title">
    <h5>{{'DEALSLIST' | translate}}</h5>

    <!--<div class="ibox-tools">-->
        <!--<a href="" class="btn btn-primary btn-xs">Create new project</a>-->
    <!--</div>-->
</div>
<div class="ibox-content" ng-controller="DealsCtrl">
<div class="row m-b-sm m-t-sm">
    <div class="col-md-12">
        <div class="input-group"><input type="text" placeholder="{{'SEARCH' | translate}}" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> {{'SEARCHBUTTON' | translate}}</button> </span></div>
    </div>
</div>

<div class="project-list">

<table class="table table-hover">
<tbody>
<tr ng-repeat="deal in deals">
    <td class="project-status">
        <button class="btn btn-xs btn-primary">{{deal.description | htmlToPlaintext | words:2}}</button><br/>
        <div class="project-completion space-15">
          <small>{{'SUCCESSRATE' | translate }}: {{deal.stage.success_probability}}%</small>
          <div class="progress progress-mini">
              <div style="width: {{deal.stage.success_probability}}%;" class="progress-bar"></div>
          </div>
        </div></td>
    <td class="project-title">
        <a ui-sref="project_detail">{{deal.name}}</a><br/>
        <small>{{'CREATED' | translate}} {{deal.created_at  | date:'dd.mm.yyyy'}}</small>
    </td>
    <td class="project-actions">
        <strong class="project-budget">{{deal.budget | currency:'$':0}}</strong>
        <div class="project-people"><img alt="{{deal.responsible.name}}" class="img-circle" src="/img/a3.jpg"><button class="btn btn-w-m btn-xs btn-default" ui-sref="crm.contacts">{{deal.responsible.name}}</button></div>
        <!--<a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>-->
        <!--<a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>-->
    </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
