<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>{{ 'TODO' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">CRM</a>
            </li>
            <li class="active">
                {{ 'TODO' | translate}}
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="TasksCtrl">
  <div class="row">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <p>Список задач:</p>
                <ul class="todo-list m-t">
                    <li ng-repeat="task in tasks">
                        <button type="button" class="btn btn-white btn-xs" ng-style="stylebtn"
                                ng-model="checked" ng-click="checked ? checked = false : checked = true"
                                ng-class="{'btn-xs': size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}">
                          <i ng-style="styleicon" class="glyphicon" ng-class="{'fa fa-check': checked===true}" style="width: 10px; left: -1px;"></i>
                        </button>
                        <span class="m-l-xs" ng-class="checked ? 'todo-completed' : ''">{{task.name}}</span>
                        <small class="label label-info"><i class="fa fa-clock-o"></i> {{task.deadline_date}}</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>