$inputBorderRadius: 0px;
$formActionsBackground: #FFF;
$white: #FFF;

table.table-condensed {
  td {
    vertical-align: top;
  }
}

h1, h2, h3 { font-weight: normal; }
h1 {
  color: #111111;
  font-size: 24px;
}

.navbar {
  li {
    white-space: nowrap;
  }
}

.buttons-panel {
  a {
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
    background: transparent center left no-repeat;
  }
  a.add { background-image: url("button_add.png"); }
  a.edit { background-image: url("button_edit.png"); }
  a.close-event { background-image: url("button_close.png"); }
  a.open { background-image: url("button_open.png"); }
  a.import { background-image: url("button_import.png"); }
  a.export { background-image: url("button_csv.png"); }  
}

.filter {
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  
  form, input[type="text"] {
    width: 90%;
  }

  input[type="submit"] {
    border: none;
    background: url("filter_search_button.png") center no-repeat    
  }
}

.tabbable {
  li {
    a { border: 0; }
    background-color: #F3F3F3;
    border: 1px solid #D1D1D1;
    
    margin-right: 2px;
  }

  li.active {
    background-color: $white;
    border-bottom: 1px solid $white;
    a, a:hover { border: 0; }
  }
}

.date_picker {
  width: 90px;
  margin-right: 2px;
}

.ui-datepicker-calendar {
  background: #f9f9f9;
  border-color: #f9f9f9;
}

.ui-datepicker-next  {
  float: right;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-calendar a.ui-state-default {
  border: none;
  padding: 2px
}
.ui-datepicker-calendar .ui-state-active {
  font-weight: bold;
  background-color: grey;
  color: white;
  border-radius: 2px;
}

/* Fields */
fieldset > .control-group {
  
  width: 50%;
  
  select { background-color: #FFF; }

  .controls.one-line {

    input[type="text"] {
      width: 70%;
      border-right: none;
    }
    select {
      width: 20%;
      border-left: none;
    }

    a > img {
      margin-top: -3px;
    }
  }

  .controls {
    textarea {
      width: 448px;
    }
  }

  .address-first-line {
    input[type="text"] { width: 150px; }
  }

  .address-second-line {
   select { width: 151px; } 
   .country { width: 303px; }
  }
}


//Russian Rubl sign
@font-face { font-family: "Rubl Sign"; src: url("http://www.artlebedev.ru/;-)/ruble.eot"); }
span.rur { font-family: "Rubl Sign"; text-transform: uppercase; }
span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; }
span.rur span:before { content: '\2013'; }

#search, .navbar-form-custom {
  height: 50px;
}

.navbar-header, .navbar-right, .nav li.dropdown {
  height: 50px;
}

.nav > li > a.dropdown-toggle {
  height: 50px;
  padding: 15px 20px;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 100;
}

.filter-input {
  border: none;
  padding: 0;
  height: 20px;
}

.ibox {
  background: white;
  .more {
    padding: 20px;
    padding-top: 0;
    text-align: center;
  }
}

.ibox-title {
  border: none;
  height: auto;
}
.ibox-content {
  padding: 0;
  border: none;
}

.search-box {
  max-height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}
.search-box input {
  border: none;
}

.label, .badge {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: .8em;
}

.remove_user_contact_fields {
  margin-top: 26px;
}
