= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f|

  = f.input :email
  = f.input :name
  = f.input :gender, as: :select, collection: [t('gender.male'), t('gender.female')], include_blank: true
  = f.input :birthday, as: :string, input_html: { class: 'date_picker' }
  = f.input :comment, class: 'ckeditor', input_html: { toolbar: 'Basic' }
  
  - if @user.new_record?
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_users_path, class: 'btn'
