tr
  td
    = link_to user.email, admin_user_path(user)
  td
    = link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_user_path(user)
    = link_to '<i class="icon-trash"></i>'.html_safe, admin_user_path(user), method: :delete
