h1
  = t('.profile')
  =@user.name || @user.email
table.table-condensed
  tr
    td style: "width: 10%;" 
      = t('.email')
    td= @user.email
    - if @user.name.present?
      tr
        td= t('.name')
        td= @user.name
    - if @user.gender.present?
      tr
        td= t('.gender')
        td= @user.gender
    - if @user.birthday.present?
      tr
        td= t('.birthday')
        td= @user.birthday
    - if @user.comment.present?
      tr
        td= t('.comment')
        td= @user.comment.html_safe
        
br
- if current_user.authentications.present?
  = t('.added_social_webs')
  = render current_user.authentications
