fieldset.well
  = f.hidden_field :_destroy
  div(class="#{'error' if f.object.errors.any?}")
    .form-group
      .row
        .col-sm-4
          = f.input :email, input_html: { class: 'form-control'}
        .col-sm-4
          = f.select :email_type_id, options_for_select(email_type_list), include_blank: false, input_html: { class: 'form-control'}
        .col-sm-4
          = link_to image_tag("delete_small.png", alt: t('.remove_email')), '#', title: t('.remove_email'), class: "remove_email_fields"