.tab-pane#participants
  - if object.is_a?(Deal)
    - path = deal_add_participant_path(object)
  - else
    - path = event_add_participant_path(object)
    
  = form_tag path, method: "post", class: "form-search" do
    = label_tag :participant, t(".add_participant")
    = text_field_tag :participant, "", {class: "search-query"}
    = submit_tag t(".add"), class: "btn"
  table.table.contacts
    = render partial: 'application/participant', collection: object.companies
    = render partial: 'application/participant', collection: object.people
