.recent_items
  h3= t('.recent_items')
  - RecentItem.of(current_user).each do |item|
    p
      = t(".#{item.itemable_type.downcase}")
      | \:
      - if item.itemable.present?
        - unless item.itemable.is_a?(Task)
          = link_to item.itemable.name || item.itemable.email, (item.itemable.is_a?(User) ? admin_user_path(item.itemable) : polymorphic_path(item.itemable))
        - else
          = item.itemable.name
      - else
        = item.comment
