= link_to t(".edit_image"), "#", id: "upload_image"
.upload_image_form
  = form_for object, html: { multipart: true, class: "form-inline" } do |f|
    = f.file_field :image
    br
    - if object.image.present?
      = f.check_box :remove_image
      = label :remove_image, t(".remove_image")
      br
    = f.submit t(".ok"), class: "btn"
    = link_to t("helpers.links.cancel"), "#", class: "btn", id: "close_upload_image_form"
