fieldset.well
  = f.hidden_field :_destroy
  .input-group
    .row
      .col-sm-4
        = f.input :user_contact, input_html: { class: 'form-control'}
      .col-sm-4
        = f.association :user_contact_type, label_method: lambda { |type| t("types.user_contact.#{type.name}") }, include_blank: false, input_html: { class: 'form-control'}
      .col-sm-4
        = link_to '#', class: "btn btn-warning remove_user_contact_fields"
          = image_tag 'delete_small.png'
          = t('.remove_user_contact').html_safe
