/= render "quick_search"
.container-fluid
  .row-fluid
    /= render 'recent_items'
    .col-lg-12
      - flash.each do |name, msg|
        div(class="alert alert-#{name == :notice ? "success" : "error"}")
          a(class="close" data-dismiss='alert') ×
          = msg
      = yield
      = debug(params) if Rails.env.development?