.row.border-bottom.white-bg
  nav.navbar.navbar-static-top[role="navigation"]
    .navbar-header
      button.navbar-toggle.collapsed[aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"]
        i.fa.fa-reorder
      = link_to 'CRM', dashboard_path, class: 'navbar-brand'
      ul.nav.navbar-top-links.navbar-left
        - if user_signed_in?
          li.dropdown
            a.dropdown-toggle[data-toggle="dropdown" href="#" aria-expanded="false"]
              = image_tag ('a7.jpg'), class: "img-circle", style: "max-width: 25px"
              '
              span
                = (current_user.name || current_user.email) + "!"
              b.caret
            ul.dropdown-menu.animated.fadeInRight.m-t-xs(role="menu")
              li
                = link_to profile_path
                  = t('layouts.application.profile')
              li.divider
              li
                = link_to t("devise.sessions.sign_out"), destroy_user_session_path, method: :delete
    #navbar.navbar-collapse.collapse
      .visible-xs
        = form_tag search_path, method: :get, class: 'search-box' do
          .input-append
            = text_field_tag :search, params[:search], placeholder: t(".search_for"), class: 'form-control'
      ul.nav.navbar-nav
        /li(class="#{'active' if params[:controller] == 'dashboard'}")
        /  = link_to "#{image_tag('dashboard_icon.png')} #{t('layouts.application.dashboard')}".html_safe, dashboard_path
        li(class="#{'active' if ['contacts', 'companies', 'people'].include? params[:controller]}")
          = link_to contacts_path
            .visible-sm
              i.fa.fa-users
            .hidden-sm
              i.fa.fa-users
              =t('layouts.application.contacts').html_safe
        li(class="#{'active' if params[:controller] == 'tasks'}")
          = link_to tasks_path
            .visible-sm
              i.fa.fa-check
            .hidden-sm
              i.fa.fa-check
              = t('layouts.application.tasks').html_safe
        li(class="#{'active' if params[:controller] == 'deals'}")
          = link_to deals_path
            .visible-sm
              i.fa.fa-dollar
            .hidden-sm
              i.fa.fa-dollar
              = t('layouts.application.deals').html_safe
        li(class="#{'active' if params[:controller] == 'events'}")
          = link_to events_path
            .visible-sm
              i.fa.fa-calendar
            .hidden-sm
              i.fa.fa-calendar
              = t('layouts.application.events').html_safe
        li.divider-vertical
      ul.nav.navbar-top-links.navbar-right.hidden-xs
        li(class="#{'active' if params[:controller] == 'options'}")
          = link_to options_path
            .visible-sm.visible-md
              i.fa.fa-gears
            .hidden-sm.hidden-md
              i.fa.fa-gears
              = t('layouts.application.options').html_safe
        li
          /#quick_search
          = form_tag search_path, method: :get, class: 'search-box' do
            .input-append
              = text_field_tag :search, params[:search], placeholder: t(".search_for"), class: 'form-control'
        - if current_user.admin?
          li(class="#{'active' if params[:controller] == 'admin/users'}")
            = link_to admin_users_path
              .visible-sm
                i.fa.fa-slack
              .hidden-sm
                i.fa.fa-slack
                = t('layouts.application.users').html_safe