doctype html
html
  head
    title CRM
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    .container
      - flash.each do |name, msg|
        div(class="alert alert-#{name == :notice ? "success" : "error"}")
          a.close 'data-dismiss' => "alert"  ×
          = msg
      = yield
      = debug(params) if Rails.env.development?
